// 手机&平板设备样式
@media screen and (max-width: 959px) {
  .role-select-wrap {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    //justify-content: space-between;
    background-color: variables.$color-bg-normal;;

    p {
      padding-top: 30px;
      text-align: center;
      line-height: 24px;
      font-weight: 500;
      font-size: 18px;
      color: variables.$color-text-normal;
    }

    ul {
      margin-top: 12px;
      padding: 24px 10px 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-content: flex-start;
      //justify-content: center;
      flex-grow: 1;

      li {
        margin: 10px 10px 0;
        text-align: center;
        width: 98px;
        height: 140px;
        position: relative;
        cursor: pointer;

        &.role-item-selected {
          background: #D1F2F0;
          border-radius: 7px;
        }

        img {
          margin-top: 10px;
          display: inline-block;
          border-radius: 50%;
          width: 74px;
          height: 74px;
        }

        span.role {
          display: inline-block;
          width: 74px;
          margin-top: 10px;
          background: #225DAF;
          border-radius: 16px;
          font-size: 16px;
          color: #FFFFFF;
          text-align: center;
        }
        span.second-name {
          position: absolute;
          bottom: 4px;
          left: 0;
          width: 98px;
          background: none;
          font-size: 10px;
          color: #333333;
          letter-spacing: 0;
          text-align: center;
        }
      }

      :nth-child(1) > span {
        background: #225DAF;
      }

      :nth-child(2) > span {
        background: #FF6EA6;
      }

      :nth-child(3) > span {
        background: variables.$color-btn-bg;
      }

      :nth-child(4) > span {
        background: #5DDAFF;
      }

      :nth-child(5) > span {
        background: #FCC900;
      }

      :nth-child(6) > span {
        background: #FE6869;
      }

      :nth-child(7) > span {
        background: #C9B3D8;
      }

      :nth-child(8) > span {
        background: #D3A9A0;
      }

      :nth-child(9) > span {
        background: #FE6869;
      }
    }
  }

  .wrap-btn {
    margin-top: 48px;
    margin-bottom: 60px;
    //position: absolute;
    //left: 30px;
    //bottom: 100px;
    //margin-top: 60px;
    display: flex;
    justify-content: center;

    button {
      background: variables.$color-btn-bg;
      color: variables.$color-btn-text;
      width: 312px;
      height: 50px;
      border-radius: 25px;
      font-weight: 500;
      font-size: 16px;
    }
  }
}