@media screen and (min-width: 960px) {
  .wrap-family-create {
    width: 100%;
    height: 100%;
    background: variables.$color-bg-normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;

    img {
      display: inline-block;
      width: 256px;
    }

    .home_btn {
      width: 256px;
      display: inline-block;
    }

    .home_btn_1 {
      height: 100px;
      margin-top: 60px;
      background: variables.$color-btn-bg;
      border-radius: 50px;
      font-size: 20px;
      color: #FFFFFF;
      letter-spacing: 0;
      text-align: center;
    }

    .home_btn_split {
      margin-top: 30px;
      height: 1px;
      background-color: #D8D8D8;
    }

    .home_btn_2 {
      height: 50px;
      line-height: 50px;
      margin-top: 30px;
      padding: 0 25px;
      background: #FFF4DF;
      border: 1px solid #979797;
      border-radius: 25px;
      font-size: 16px;
      color: #999999;
      box-sizing: border-box;
    }

    .home_btn_3 {
      background: #1D6D64;
      border-radius: 22px;
      font-size: 14px;
      color: #FFFFFF;
      letter-spacing: 0;
      text-align: center;
      height: 43px;
      margin-top: 24px;
      background: variables.$color-btn-bg;
    }

    p {
      margin-top: 26px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 32px;
      line-height: 44px;
      color: #000000;
      letter-spacing: 0;
      text-align: center;

      span {
        display: inline-block;
        border: 1px solid #1D6D64;
        border-radius: 50px;
        width: 40px;
        height: 21px;
        font-size: 14px;
        color: #1D6D64;
        line-height: 21px;
        margin-left: 14px;
      }
    }

    .home_btn_4 {
      width: 256px;
      height: 50px;
      margin-top: 38px;
      font-size: 20px;
      color: #FFFFFF;
      background: variables.$color-btn-bg;
      border-radius: 25px;
    }
  }
}