// 手机&平板设备样式
@media screen and (max-width: 959px) {
  .wrap-login {
    width: 100%;
    height: 100%;
    background-image: url('@/assets/登录背景.jpg');
    background-position: center; // 确保背景图居中
    background-size: cover;
    display: flex;
    flex-direction: column;

    .wrap-login-title {
      flex-shrink: 0; /* 不缩小 */
      padding-top: 64px;
    }

    h1 {
      font-size: 40px;
      color: #504339;
      letter-spacing: 0;
      text-shadow: 0 0 4px rgba(228, 165, 60, 0.74);
      margin: 0;
      padding-right: 14px;
      font-weight: 400;
      line-height: 48px;
      text-align: right;
    }

    h2 {
      font-size: 20px;
      padding-right: 20px;
      color: #3ECBC0;
      letter-spacing: 0;
      text-align: right;
      text-shadow: 0 0 4px rgba(228,165,60,0.74);

      margin: 0;
      font-weight: 300;
      line-height: 24px;
    }

    .wrap-login-opt {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
      letter-spacing: 1px;

      h3 {
        display: none;
      }
    }

    .login_btn {
      width: 256px;
      height: 50px;
      display: inline-block;
      border-radius: 50px;
      letter-spacing: 2px;
      box-sizing: border-box;
      margin-bottom: 10px;
    }

    .login_btn_1 {
      line-height: 50px;
      padding: 0 25px;
      font-size: 16px;
      color: #999999;
      background: #FFF4DF;
      border: 1px solid #979797;
    }

    .login_btn_2 {
      line-height: 50px;
      padding: 0 25px;
      font-size: 16px;
      color: #999999;
      background: #FFF4DF;
      border: 1px solid #979797;
    }

    .login_btn_3 {
      background: variables.$color-btn-bg;
      font-size: 20px;
      color: #FFFFFF;
      text-align: center;
    }

    .login_btn_4 {
      font-size: 16px;
      color: variables.$color-btn-bg !important;
      letter-spacing: 0;
      text-align: center;
      background: #B8CBD9;
      margin-bottom: 95px;

      a {
        &:active, &:visited {
          color: #1D6D64 !important;
        }
      }
    }
  }
}

